# Dependencies
node_modules/

# Build output
dist/

# Environment variables (NUNCA subir secretos)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
.DS_Store

# OS
Thumbs.db
.next/
build/
